@import url("https://fonts.googleapis.com/css?family=Karla");

body {
  background-color: #e8e8e8 !important;
  font-family: "Karla", sans-serif !important; /*This is a nice google font to use, it's similiar to the default but just a slick cleaner */
}

.block,
.btn-secondary,
.media-body,
.user-nav {
  border-radius: 25px !important;
  padding: 20px !important;
}

/*customise button rounded*/
.btn-secondary {
  /* background-color: #00697a !important; */
  border-radius: 25px !important;
  padding: 10px !important;
}

.media-body {
  text-decoration: underline !important;
}

.alert alert-info {
}
